[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
        ignore = dirty
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
        ignore = dirty
[submodule "bundle/vim-airline-themes"]
	path = bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
        ignore = dirty
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
        ignore = dirty
[submodule "bundle/vim-renamer"]
	path = bundle/vim-renamer
	url = https://github.com/qpkorr/vim-renamer.git
        ignore = dirty
[submodule "bundle/vim-visualstar"]
	path = bundle/vim-visualstar
	url = https://github.com/thinca/vim-visualstar
        ignore = dirty
[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
        ignore = dirty
[submodule "bundle/vim-highlightedyank"]
	path = bundle/vim-highlightedyank
	url = https://github.com/machakann/vim-highlightedyank.git
        ignore = dirty
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
        ignore = dirty
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
        ignore = dirty
[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
        ignore = dirty
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
        ignore = dirty
[submodule "bundle/vim-autoformat"]
	path = bundle/vim-autoformat
	url = https://github.com/Chiel92/vim-autoformat.git
